form{
    width: auto;
    margin: center;
    background-color: #BEBEBE;
    margin-top: 100px;
}

div{
    margin: 15px;
    padding: 10px;
    width: 660px;
    font-size: 18px;
}
input{
    margin: 15px;
    padding: 10px;
    width: 660px;
    font-size: 18px;
}

textarea{
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    min-width: 660px;
    max-width: 660px;
    min-height: 150px;
    max-height: 150px;
}
button{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}